<launch>

  <arg name="world_frame" />
  <arg name="scan_frame" />
  <arg name="voxel_leaf_size" default="0.0005"/>
  <arg name="voxel_publish_period" default="2.0"/> <!--seconds -->

  <node pkg="godel_scan_analysis" type="godel_scan_fusion_node" name="godel_scan_analysis">
    <param name="base_frame" value="$(arg world_frame)"/>
    <param name="scan_frame" value="$(arg scan_frame)"/>
    <param name="voxel_size" type="double" value="$(arg voxel_leaf_size)"/>
  </node>

</launch>
